<div id="site-wrapper">
  <div id="site-canvas">
    <div id="site-menu">
      <ul class="menu">
        <li><a ui-sref="admin_users" ui-sref-active="active">Users</a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>

    <a href="#" class="toggle-nav">
      <span class="fui-list"></span>
    </a>
    <h1 class="text-center">Users</h1>
    <h5 class="text-center">
      <a href="" ui-sref="admin_users_farmer">Farmer</a> /
      <a href="" ui-sref="admin_users_buyer">Buyer</a>
    </h5>
    <div class="user_farmer">
      <table datatable="" dt-options="dtOptions" dt-columns="dtColumns"
        class="table table-striped table-bordered" dt-instance="dtInstance">
      </table>
    </div>
  </div>
</div>
