.add_inventory {
  overflow: auto;
  .modal-body {
    padding: 0
    .padding {
      padding-top: 10px
    }
  }
  .items {
    height: 300px;
    overflow: scroll;
    .img-responsive {
      margin: 0 auto;
    }
    .product_type {
      margin: 0;
      font-size: 14px;
    }
    .variety_name {
      margin: 0
      font-size: 14px;
    }
  }
  .item_description {
    padding-top: 10px
  }
}
