<div class="main_">
  <div class="modal-dialog login_">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 class="modal-title">Sign-up for an account</h4>
      </div> -->
      <div class="modal-body">
        <h4>Sign-up for an account</h4>
        <p>What type of account are you interested in signing-up for?</p>
        <div class="container-fluid">
          <div class="row" style="margin-top:50px">
            <div class="col-sm-6 col-sm-offset-3 text-center" >
              <button class="btn btn-success btn-sm" ui-sref="buyer" style="width:100%;margin-bottom: 10px">
                Buyer
              </button>
            </div>
          </div>
          <div class="row">
            <div class=" col-sm-6 col-sm-offset-3 text-center">
              <button class="btn btn-success btn-sm"  ui-sref="farmer" style="width:100%">
                Farmer
              </button>
            </div>
          </div>
          <div class="row" style="margin-top: 100px;">
            <p class="text-center">Already a member? <a ui-sref="main">Sign in</a></p>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
