<section ng-include="'commons/header.html'"></section>
<div class="main_">
  <div class="modal-dialog login_">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class='modal-title'>Sign up to be a buyer</h4>
      </div>
      <div class="modal-body">
        <form name="registerCustomer" ng-submit="vm.registerCustomer(registerCustomer)">
          <div class="form-group">
            <label class='control-label'>First Name</label>
            <input class="form-control" type="text" ng-model="vm.firstName"/>
          </div>
          <div class="form-group">
            <label class='control-label'>Last Name</label>
            <input class="form-control" type="text" ng-model="vm.lastName"/>
          </div>
          <div class="form-group">
            <label class='control-label'>Email</label>
            <input class="form-control" type="email" ng-model="vm.email"/>
          </div>
          <div class="form-group">
            <label class='control-label'>Password</label>
            <input class="form-control" type="text" ng-model="vm.password"/>
          </div>
          <div class="form-group">
            <label class='control-label'>Company Name</label>
            <input class="form-control" type="text" ng-model="vm.companyName"/>
          </div>
          <div>
            <label class="control-label">Address</label>
            <input class="form-control" type="text" ng-model="vm.address"/>
          </div>
          <div class="col-lg-4">
            <label class="control-label">City</label>
            <input class="form-control" type="text" ng-model="vm.city"/>
          </div>
          <div class="col-lg-4">
            <label class="control-label">State</label>
            <input class="form-control" type="text" ng-model="vm.state"/>
          </div>
          <div class="col-lg-4">
            <label class="control-label">Zip</label>
            <input class="form-control" type="text" ng-model="vm.zip"/>
          </div>
          <div>
            <label class="control-label">Phone Number</label>
            <input class="form-control" type="text" ng-model="vm.phoneNum"/>
          </div>
          <div>
            <label class="control-label">Description (Optional)</label>
            <textarea class="form-control" type="text" ng-model="vm.desc"/>
          </div>
          <div>
            <label class="control-label">What is your current monthly expense for produce?</label>
            <select class="form-control" ng-model="vm.monthlyExpense">
              <option>1</option>
              <option>2</option>
            </select>
          </div>
          <div>
            <label class="control-label">What is your business type?</label>
            <select class="form-control" ng-model="vm.businessType">
              <option>a</option>
              <option>b</option>
            </select>
          </div>
          <div class="text-center">
            <input type='submit' class='btn btn-primary btn-block btn-md'>Register</button>
          </div>
        </form>
      </div>
      <div class='modal-footer'>
        <div class="text-center">
          <input type='submit' class='btn btn-primary text-center' value='Sign up'>
        </div>
        <div class="row" style="margin-top: 60px;">
          <p class="text-center">Already a member? <a href="">Sign in</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
