
  <nav class="navbar navbar-inverse navbar-sm" role="navigation" ng-cloak>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand ion ion-ios-home" ui-sref='main' ui-sref-active="active"></a> -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li >
            <a ui-sref="inventory"> Logo </a>
          </li>
          <li >
            <a ui-sref="inventory"> Market Place </a>
          </li>
          <li >
            <a ui-sref="inventory">Farms</a>
          </li>
          <li >
            <a ui-sref="inventory"> Inventory </a>
          </li>
          <li >
            <a ui-sref="inventory"> Orders</a>
          </li>
        </ul>
        <ul class='nav navbar-nav navbar-right'>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- <alert-info></alert-info> -->
