<div class="modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$hide()">x</button>
        <h4 class="modal-title">Thank you for signing up!</h4>
      </div>
      <div class="modal-body">
        <p>We are a closed marketplace now and new users have to be verified. Our team will review your information and contact you via email. If you have other questions, contact us at contact@locaverse.com</p>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$hide()">Got it</button>
      </div>
    </div>
  </div>
</div>
